#layers{
	background-color: #eee;
	z-index: 5;
	line-height: 40px;
	padding-top: 40px;
	font-size: 16px;
	left: -300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: left 500ms ease-in;
	-moz-transition: left 500ms ease-in;
	-ms-transition: left 500ms ease-in;
	-o-transition: left 500ms ease-in;
	transition: left 500ms ease-in;
	overflow: scroll;
	-moz-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4);
}

#layers.open{
	left: 0;
}

#switch{
	font-size: 16px;
	font-weight: bold;
	background: white url(../img/layers.png) 15px center no-repeat;
	text-indent: 60px;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
	padding-right: 10px;
	margin-top: 10px;
	position: absolute;
	width: 50px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 40px;
	z-index: 6;
	cursor: pointer;
	-webkit-transition: width 500ms ease-in;
	-moz-transition: width 500ms ease-in;
	-ms-transition: width 500ms ease-in;
	-o-transition: width 500ms ease-in;
	transition: width 500ms ease-in;
	-moz-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4);
}

#switch.open{
	width: 300px;
}

#switch.open:before{
	content: "◣";
	display: block;
	float: right;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	top: -20px;
	left: 10px;
	font-size: 12px;
}

#layers h4{
	margin: 0 0 0 45px;
	font-size: 16px;
}

.folder{
	border-bottom: 1px solid #ccc;
	background-color: white;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
}

.folder.open{
	height: auto;
	padding-bottom: 20px;
}

.folder:before{
	content: "◢";
	display: block;
	float: left;
	font-size: 10px;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: relative;
	left: 15px;
}

.folder.open:before{
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#layers label{
	display: block;
	padding: 0 30px 0 20px;
	font-size: 14px;
	clear: both;
	width: 275px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#layers label + img{
	margin-left: 45px;
	padding: 5px;
	border: 1px solid #999;
}

#layers input{
	margin-right: 10px;
}

.geodb{
	font-weight: bold;
	font-style: italic;
}

.layer{
	padding-left: 40px;
}

.feature{
	line-height: 24px;
	background-color: #eee;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 8px 20px 8px 65px;
	padding: 0 10px;
	font-size: 12px;
}

.feature.off{
	opacity: 0.25;
}

.swatch{
	float: right;
	margin: 2px -10px 0 0;
	overflow: hidden;
}

.layer > .swatch{
	margin-right: 10px;
}

.swatch img{
	margin-right: 5px;
}

.layer > .swatch img{
	margin: 5px;
}