body{
	font-family: "Helvetica Neue", HelveticaNeue, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.shadow{
	-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=3,Color=#40000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=3,Color=#40000000,Positive=true);
}

header{
	line-height: 99px;
}

#search, #results{
	width: 350px;
	height: 100%;
	float: right;
}

#map{
	width: 100%;
	bottom: 60px;
}

#layers{
	position: absolute;
	left: 0;
	top: 170px;
	width: 300px;
}