body{
	font-family: "Helvetica Neue", HelveticaNeue, 'Roboto', Arial, sans-serif;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#wrapper{
	overflow: hidden;
}

.shadow{
	-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=3,Color=#40000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=3,Color=#40000000,Positive=true);
}

h1{
	letter-spacing: 5px;
}

header{
	line-height: 99px;
}

h1, header{
	font-weight: 100;
	font-size: 6em;
	font-size:90px;
	color:rgb(102,102,102);
	text-shadow:1px 1px 3px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#40000000,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1,OffY=1,Color=#40000000,Positive=true);
}

#search, #results{
	width: 350px;
	height: 100%;
	float: right;
}

#map{
	width: 100%;
	bottom: 60px;
}

#layers{
	position: absolute;
	left: 0;
	top: 170px;
	width: 260px;
}

#intro{
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: #eee;
	top: 0;
	left: 0;
	z-index: 99999999;
}

#language{
	float: right;
	margin: 40px;
	color: #999;
	font-size: 16px;
	cursor: pointer;
	height: 60px;
}

#language:hover{
	color: black;
}

#language a{
	display: block;
	color: #999;
	opacity: 0;
	margin: 10px 0;
	text-decoration: none;
	 -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

#language:hover a{
	opacity: 1;
	color: #999;
}

#language a:hover{
	color: black;
}

#title{
	background-color: #e6dfd0;
	width: 100%;
	margin-top: 10%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

#enter{
	background-image:-moz-linear-gradient(57% 0% -90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%); 
	background-image:-webkit-gradient(linear,57% 0%,57% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(238,238,238)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	background-image:linear-gradient(180deg,rgb(255,255,255) 0%,rgb(238,238,238) 100%);
	width:237px;
	line-height:54px;
	text-align: center;
	margin: auto;
  margin-bottom: 20px;
	text-transform: uppercase;
	color: #999;
	border-color:rgb(204,204,204);
	border-width:1px;
	-moz-border-radius:11px ;
	-webkit-border-radius:11px ;
	border-radius:11px ;
	cursor: pointer;
	border-style:solid;
	-moz-box-shadow:0px 0px 1px 2px rgba(0,0,0,0.05);
	-webkit-box-shadow:0px 0px 1px 2px rgba(0,0,0,0.05);
	box-shadow:0px 0px 1px 2px rgba(0,0,0,0.05);
}

#logos{
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

#logos .logo{
  width: 49%;
  display: inline-block;
  border-left: 1px solid #999;
}

#logos img{
  height: 56px;
  padding: 10px 20px;
}

#logos .logo:first-child{
  border-left: none;
}



.featherlight{
	z-index: 9999;
}

p.featherlight-inner{
	margin-bottom: 0;
}