.leaflet-control-zoom{
	-moz-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4);
	width: 100px;
	top: 60px;
}

.leaflet-control-zoom a, .leaflet-control-zoom a:hover{
	background-color:rgba(255,255,255,0.9);
	width:50px;
	line-height:40px;
	height: 40px;
	float: right;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	border: none;
	font-size: 24px;
	font-weight: bold;
}

.leaflet-control-zoom a:last-child{
	border-right: 1px solid black;
	width: 49px;
}

.