#loading{
	background: rgba( 255,255,255, 0.75 ) url(../img/loading.gif) center center no-repeat;
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 999999999;
}

#loading:before{
	content: "Loading...";
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	display: block;
	position: relative;
	top: 55%;
}

#click{
	position: fixed;
	width: 42px;
	height: 42px;
	margin: -21px 0 0 -21px;
	z-index: 99999999;
	background-image: url(../img/click.gif);
}

.leaflet-container{
	cursor: default;
	overflow: visible;
}

.leaflet-dragging .leaflet-container{
	cursor: move;
}

.leaflet-control-zoom{
	-moz-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	box-shadow:0px 0px 3px 1px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=4);
	width: 100px;
	top: 60px;
	left: 70px;
	-webkit-transition: left 500ms ease-in;
	-moz-transition: left 500ms ease-in;
	-ms-transition: left 500ms ease-in;
	-o-transition: left 500ms ease-in;
	transition: left 500ms ease-in;
}

.leaflet-control-zoom.open{
	left: 320px;
}

.leaflet-control-zoom a, .leaflet-control-zoom a:hover{
	background-color:rgba(255,255,255,0.9);
	width:50px;
	line-height:40px;
	height: 40px;
	float: right;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	border: none;
	font-size: 24px;
	font-weight: bold;
}

.leaflet-control-zoom a:last-child{
	border-right: 1px solid black;
	width: 49px;
}