@media (max-width: 650px) {
  #plans,
  #search,
  #export,
  .feature,
  #instruction,
  .header-bar,
  #info-page,
  .tick span,
  .tick .minor,
  #prev,
  #next,
  #switch,
  #layers {
    display: none !important;
  }

  /* Header */
  header,
  header h1 {
    font-size: 30px;
    line-height: 1;
  }

  header {
    padding: 5px 20px;
  }

  header h1 {
    display: inline-block;
  }

  #hamburger {
    background: url('../img/hamburger.png') no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 26px;
  }

  /* Timeline */
  #timeline {
    height: 30px;
    margin: 0;
    padding: 0 10px;
  }

  #puck {
    height: 36px;
  }

  #year {
    color: #000;
    float: right;
    font-size: 24px;
    line-height: 1;
    margin-top: -30px;
  }

  .tick {
    height: 20px;
  }
}
