@media (min-width: 651px) {
  #geolocate {
    display: none;
  }
}

@media (max-width: 650px) {
  /* Hide everything */
  #plans,
  #search,
  #export,
  .feature,
  #instruction,
  .header-bar,
  #info-page,
  .tick span,
  .tick .minor,
  #prev,
  #next,
  #switch,
  #layers,
  .leaflet-left,
  .layer input {
    display: none !important;
  }

  /* Header */
  header,
  header h1 {
    font-size: 30px;
    line-height: 1;
  }

  header {
    height: 30px;
    padding: 5px 20px;
  }

  header h1 {
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-top;
  }

  #hamburger {
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
  }

  /* Timeline */
  #timeline {
    height: 30px;
    margin: 0;
    padding: 0 10px;
  }

  #puck {
    height: 36px;
  }

  #year {
    color: #000;
    font-size: 24px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: -30px;
  }

  .mobile-wrapper.open #year {
    right: -400px;
  }

  .tick {
    height: 20px;
  }

  /* Legend */
  #layers {
    display: block !important;
    height: 100% !important;
    left: 0;
    padding-top: 0;
    top: 0;
    width: 90%;
  }

  .mobile-wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.25);
    height: 100%;
    left: 0;
    top: 0;
    transition: left 1s;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  .mobile-wrapper.open {
    left: 90%;
  }

  .layer {
    pointer-events: none;
  }

  /* Map */
  #wrapper {
    transition: height 0.5s;
  }

  #map {
    transition: height 0.5s;
    top: -30px;
  }

  /* Probe */
  #results {
    background-color: #fff;
    bottom: 0;
    height: 0;
    left: 0;
    max-height: 200px;
    top: auto;
    transition: height 0.5s;
    width: 100%;
  }

  #results.open-probe {
    height: 200px;
    overflow-y: auto;
  }

  .result {
    font-size: 14px;
    height: 14px;
    line-height: 1;
  }

  /* Intro screen */
  #language {
    float: none;
    height: 20px;
    margin: 10px;
    text-align: right;
  }

  #title {
    margin-top: 0;
  }

  #intro h1 {
    font-size: 52px;
  }

  .logo {
    display: block !important;
    width: 100% !important;
  }

  #disclaimer {
    padding: 10px;
  }

  /* Geolocation */
  .geolocate {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 26px;
  }

  .geolocate:hover,
  .geolocate.selected {
    color: #3D96FF;
  }

  .you-are-here-icon {
    background-color: #3D96FF;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 12px;
    width: 12px;
  }

  .you-are-here-icon i {
    color: #3D96FF;
    display: block;
    font-size: 18px;
    height: 11px;
    line-height: 1;
    margin: -10px 0 0 -1px;
    width: 11px;
  }

  .you-are-here-icon i::before {
    margin-left: -.1em;
    margin-right: 0;
  }
}
