#results{
	height: auto;
	position: absolute;
	top: 160px;
	right: 0;
	z-index: 999;
}

#instruction{
	line-height: 40px;
	color: white;
	font-style: italic;
	text-indent: 70px;
	background: #666 url(../img/probe_icon.png) 20px center no-repeat;
	margin-top: 10px;
	position: relative;
}

.result{
	height: 20px;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
	background: #eee url(../img/loader_small.gif) no-repeat 320px center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.result.expand{
	cursor: pointer;
	background-image: none;
}

.result.expand:before{
	content: "▾";
	display: block;
	float: right;
}

.result.expand:hover{
	background-color: #fafafa;
}

.result.expand.loaded:before{
	content: "Clear";
	text-decoration: underline;
	color: #666;
	font-size: 12px;
}

.details{
	margin-top: 20px;
}

.visual_probe{
	max-width: 300px;
	min-height: 70px;
	padding: 15px 15px 15px 125px;
	position: fixed;
	font-size: 14px;
	background-position: 15px 15px;
	background-repeat: no-repeat;
	background-color:rgba(238,238,238,0.9);
	-moz-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.23);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.23);
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.23);
	-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=3)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=3);
	z-index: 9999;
}

.visual_probe p{
	margin: 5px 0;
}

.visual_probe i{
	font-size: 13px;
	color: #666;
}

.header{
	background-color: #333;
	color: white;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-indent: 10px;
}

.featherlight .featherlight-close-icon:hover{
  text-shadow: #999 0 0 3px;
}