header{
	padding: 0 20px;
	border-bottom: 1px solid rgb(153,153,153);
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(255,255,255,0.8) 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(70%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,0.8) 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,0.8) 70%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(255,255,255,0.8) 70%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(255,255,255,0.8) 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#b3ffffff',GradientType=0 ); /* IE6-9 */
}

header h1{
	font-size: 60px;
	margin: 0;
	letter-spacing: normal;
}

header, nav{
	position: relative;
	z-index: 2001;
}

#export{
	color: #999;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1.5;
	float: right;
	margin-top: 60px;
	cursor: pointer;
	line-height: normal;
	text-shadow: none;
}

#export span, #enter span{
	background-color: #ddd;
	-webkit-border-radius: 10px;
	border-radius: 100%;
	color: #999;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
}

#export span:before, #enter span:before{
	content: '⬇';
}

#export.loading span, #export.loading:hover span{
	background: #ddd url(../img/loader_small.gif) no-repeat center center;
}

#export.loading span:before{
	content: '.';
}

#export:hover, #enter:hover{
	color: #666;
}

#export:hover span, #enter:hover span{
	background-color: #999;
	color: white;
}

.drag > img{
	cursor: move;
}

.drag > div{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	height: 40px;
	background-color: rgba( 0,0,0,0.2);
}

.drag > div img{
	position: absolute;
	top: 10px;
	margin-left: -30px;
}

nav{
	background-color:rgba(0,0,0,0.7);
	clear: both;
}

#year, #timeline{
	height: 60px;
	line-height: 60px;
}

#plans{
	float: left;
	background-color:rgb(102,102,102);
	width: 145px;
	height:36px;
	line-height: 36px;
	text-align: center;
	margin: 12px 5px 0 10px;
	color: white;
	cursor: pointer;
	-moz-border-radius:9px ;
	-webkit-border-radius:9px ;
	border-radius:9px ;
	-moz-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0,0,0,0.15);
	box-shadow:0px 0px 2px 1px rgba(0,0,0,0.15);
	-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=3)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=3);
}

#plans:hover{
	background-color: #999;
}

#year, #plan_info{
	float: left;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	line-height: 60px;
}

#plan_info{
	margin: 10px 0;
	line-height: 40px;
	padding-left: 10px;
	font-weight: 400;
	font-size: 18px;
}

#year{
	width: 120px;
	padding: 0 5px 0 10px;
	font-size: 32px;
}

#year div{
	font-size: 24px;
	display: inline-block;
	margin: 0 0 0 10px;
	position: relative;
	bottom: 3px;
	cursor: pointer;
	color: #aaa;
}

#year #prev{
	margin: 0 10px 0 0;
	bottom: 0;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

#year div:hover{
	color: white;
}

#timeline{
	margin: 0 370px 0 300px;
}

.tick, .minor{
	float: left;
	border-right: 1px solid #999;
	font-size: 12px;
	font-weight: bold;
	height: 35px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tick span{
	display: block;
	width: 30px;
	float: right;
	position: relative;
	text-align: center;
	top: 15px;
	left: 15px;
	color: #999;
}

.minor{
	width: 50%;
	height: 20px;
}

#puck{
	position: relative;
	background-color:rgb(255,255,255);
	width:12px;
	height:66px;
	bottom: 3px;
	margin-left: -6px;
	-moz-box-shadow:0px 0px 1px 2px rgba(0,0,0,0.35);
	-webkit-box-shadow:0px 0px 1px 2px rgba(0,0,0,0.35);
	box-shadow:0px 0px 1px 2px rgba(0,0,0,0.35);
	-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=3)";
	filter:progid:DXImageTransform.Microsoft.Glow(Color=#ff000000,Strength=3);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}

#puck:before{
	content: "||";
	display: block;
	position: absolute;
	margin-bottom: -4px;
	bottom: 50%;
	font-size: 8px;
	font-weight: bold;
	line-height: 8px;
	width: 12px;
	text-align: center;
}

#puck span{
	position: relative;
	bottom: 110px;
	right: 15px; 
	background-color:rgba(0,0,0,0.7);
	color: white;
	font-size: 14px;
	padding: 2px 5px;
	display: none;
}

#search{
	background-color: white;
}

#search input{
	line-height: 20px;
	padding: 20px 0;
	margin: 0;
	text-indent: 45px;
	width: 100%;
	border: none;
	font-size: 16px;
	color:rgb(102,102,102);
	background: url(../img/search.png) 10px center no-repeat;
}

#search #clear{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	height: 100%;
	width: 35px;
	background: url(../img/close.png) no-repeat center center;
	display: none;
	cursor: pointer;
}

#search #clear:hover{
	background-image: url(../img/close_over.png);
}

#menu{
	line-height: 40px;
	font-size: 16px;
	background-color: #eee;
	position: absolute;
	z-index: 1001;
	display: none;
}

#menu div{
	border-bottom: 1px solid #ccc;
	padding: 0 15px;
	cursor: pointer;
}

#menu div:hover{
	background-color: #ccc;
}