header{
	font-size: 60px;
	font-weight: 100;
	background-color:rgb(238,238,238);
	padding: 0 20px;
	border-bottom: 1px solid rgb(153,153,153);
}

nav{
	background-color:rgba(0,0,0,0.7);
	position: relative;
	z-index: 5;
}

#year, #timeline, #search input{
	height: 60px;
	line-height: 60px;
}

#year{
	float: left;
	width: 175px;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: white;
}

.next{
	font-size: 24px;
	color: rgb(153,153,153);
}

#prev{
	font-size: 27px;
}

#timeline{
	margin: 0 370px 0 175px;
}

.tick, .minor{
	float: left;
	border-right: 1px solid #999;
	font-size: 12px;
	font-weight: bold;
	height: 35px;
}

.tick span{
	display: block;
	width: 30px;
	float: right;
	position: relative;
	text-align: center;
	top: 15px;
	left: 15px;
	color: #999;
}

.minor{
	width: 50%;
	height: 20px;
}

#search{
	background-color: white;
	-moz-box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	box-shadow:0px 3px 5px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=3,Color=#40000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=3,Color=#40000000,Positive=true);
}

#search input{
	text-indent: 45px;
	width: 100%;
	padding: 0;
	border: none;
	font-size: 16px;
	color:rgb(102,102,102);
	background: url(../img/search.png) 10px center no-repeat;
}